<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeedrinkgen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeDrinkGen">
        <activity
            android:name=".activityCustomizeMe"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".toppings"
            android:exported="true"
            android:parentActivityName=".syrupFlavours"/>
        <activity
            android:name=".syrupFlavours"
            android:exported="true"
            android:parentActivityName=".whipCream"/>
        <activity
            android:name=".whipCream"
            android:exported="true"
            android:parentActivityName=".alternativeMilk"/>
        <activity
            android:name=".alternativeMilk"
            android:exported="true"
            android:parentActivityName=".hotIcedOrBlended"/>
        <activity
            android:name=".hotIcedOrBlended"
            android:exported="true"
            android:parentActivityName=".customizeCoffee"/>
        <activity
            android:name=".customizeCoffee"
            android:exported="true"
            android:parentActivityName=".activityCustomizeMe"/>
        <activity
            android:name=".activityGenerateMe"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>